package components

templ ToastAlert(successMessage, errorMessage string) {
	if successMessage != "" {
		<div
			x-data="notification"
			data-icon="success"
			data-msg={ successMessage }
		></div>
	}
	if errorMessage != "" {
		<div
			x-data="notification"
			data-icon="error"
			data-msg={ errorMessage }
		></div>
	}
}
